:root {
    --primary-font: 'Raleway', sans-serif;
    --btn-color: #404BBF;
    --main-text-color: #FFFFFF;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}   
.link {
    text-decoration:none;
}
.list {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.container {
    width: 100%;
    max-width: 1440px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;    
}
/*-------------header---------------*/
.header {
    padding: 24px 0;
    border-bottom: 1px solid #e7e9fc 
}
.header-navigation {
    display: flex;
    align-items: center;
}
.header-container {
    display: flex;
    width: 1158px;
}
.header-logo {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase ;
    color: #4D5AE5;
    margin-right: 76px; 
}
.header-logo-dark {
    color: #2E2F42;
}
.header-menu {
    display: flex;
    gap: 40px;
}
.header-menu-item {
}
.header-menu-li {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.header-menu-li:hover,
.header-menu-li:focus {
    color: #404BBF;
}
.header-address {
    font-style: normal;
    margin-left: 158px;
}
.header-soc {
    display: flex;
    gap: 40px;
}

.header-soc-item {
}
.header-soc-li {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.header-soc-li:hover, 
.header-soc-li:focus {
    color: #404BBF;
}
/*-------------hero---------------*/
.hero {
    padding-top: 0px;
    padding-bottom: 188px;
}
.hero-container {
    background-color: #2E2F42;
    padding: 188px 472px 292px;
}
.hero-item {
}
.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--main-text-color);
    text-align: center;
    margin-bottom: 48px;
    max-width: 496px;
}
.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    border: none;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
    color: #ffffff;
}
.hero-img {
}
.hero-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
.hero-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*-------------benefits---------------*/
.benefits {
    padding: 120px 0;
}
.visually-hidden {
    
}
.benefits-li {
    display: flex;
    padding-left: 158px;
    padding-right: 158px;
    gap: 24px;
}
.benefits-item {
    width: 264px;
    width: calc((100% - 72px) / 4);
}
.benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}
.benefits-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*-------------products---------------*/
.products {
    padding-bottom: 120px;
}
.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}
.products-li {
    display: flex;
    padding-left: 158px;
    padding-right: 158px;
    gap: 24px;
}
.products-item {
    width: 360px;
}
.products-img {
    display: block;
}
/*-------------team---------------*/
.team {
    background-color: #F4F4FD;
}
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    padding: 120px;
    padding-bottom: 72px;
}
.team-li {
    display: flex;
    padding-left: 156px;
    padding-right: 156px;
    gap: 24px;
    padding-bottom: 120px;
}
.team-item {
    background: #FFFFFF;
}
.team-img {
    padding-bottom: 32px;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    padding-bottom: 8px;
}
.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    padding-bottom: 32px;
}
/*-------------footer---------------*/
.footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}
.footer-logo {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase ;
    color: #4D5AE5;
    padding-left: 158px;
}
.footer-logo-dark {
    color: #F4F4FD;
}
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding-left: 158px;
    max-width: 264px;
    padding-top: 16px;
}
/*-------------Tabs---------------*/
.tabs {
    padding-top: 96px;
    padding-bottom: 120px;
}
.tabs-li {
    display: flex;
    margin-bottom: 72px;
}
.tabs-btn {
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: #F4F4FD;
    cursor: pointer;
}
.tabs-btn:hover,
.tabs-btn:focus {
    color: var(--main-text-color);
    background-color: var(--btn-color);
}
.hero-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 156px;
    gap: 24px 48px;
}


